streamlit>=1.36.0
google-generativeai>=0.8.2
python-dotenv>=1.0.1
pdf2image>=1.17.0
pillow>=10.3.0
json-repair>=0.10.0
PyPDF2>=3.0.1
pathlib
argparse
transformers>=4.29.0
hf_xet
numpy==1.24.4
pytorch-lightning==1.9.0
torchmetrics==0.11.4
timm==0.6.13
accelerate
bitsandbytes
paddleocr==2.7.0
paddlepaddle==2.6.1